* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.head {
  height: 1.25rem;
  font-size: 0.29rem;
  text-align: center;
  padding-top: 0.65rem;
  overflow: hidden;
  position: relative;
  background: url('../images/icon_heng_line@2x.png') no-repeat center bottom;
  background-size: 100% auto;
}
.head span {
  display: inline-block;
  position: absolute;
}
.head span:nth-child(1) {
  width: 0.36rem;
  height: 0.3rem;
  top: 0.69rem;
  left: 0.2rem;
  background: url('../images/arrow-back@2x.png') no-repeat;
  background-size: 0.17rem 0.3rem;
}
.head span:nth-child(2) {
  width: 0.32rem;
  height: 0.34rem;
  top: 0.63rem;
  right: 0.2rem;
  background: url('../images/icon_search@2x.png') no-repeat;
  background-size: 100% auto;
}
.nav-list {
  height: 0.75rem;
}
.nav-list ul {
  height: 100%;
  width: 100%;
  font-size: 0.23rem;
  list-style: none;
  overflow: hidden;
}
.nav-list ul li {
  text-align: center;
  line-height: 0.75rem;
  float: left;
  height: 100%;
  width: 12.8%;
}
.nav-list ul .liColor {
  color: #246cff;
  border-bottom: 0.03rem solid #246cff;
}
.nav-list ul li:last-child {
  width: 10%;
  border-bottom: 0;
}
.nav-list ul li:last-child span {
  display: inline-block;
  width: 0.2rem;
  height: 0.13rem;
}
.nav-list ul li:last-child span:nth-child(1) {
  background: url('../images/icon_jiantou_down@2x.png') no-repeat;
  background-size: auto 100%;
}
.main {
  height: 3.2rem;
  position: relative;
}
.main .swiper-container {
  position: relative;
}
.main .swiper-container img {
  display: block;
  width: 6.4rem;
  height: 3.2rem;
}
.main .swiper-container .main_bottom {
  position: absolute;
  width: 100%;
  height: 0.55rem;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.main .swiper-container .main_bottom span {
  display: inline-block;
  padding-left: 0.2rem;
  color: #fff;
  font-size: 0.24rem;
}
.main .swiper-container .main_bottom div {
  position: absolute;
  right: 0;
}
.main .swiper-container .main_bottom div span {
  display: inline-block;
  height: 0.2rem;
  background-color: #fff;
  margin-right: 0.15rem;
}
.hot-list {
  margin-top: 0.28rem;
}
.hot-list .hot-list_top {
  height: 0.45rem;
  padding: 0 0.27rem 0 0.16rem;
  margin-bottom: 0.16rem;
  border-bottom: 0.01rem solid #ccc;
  overflow: hidden;
}
.hot-list .hot-list_top span {
  display: inline-block;
  font-size: 0.25rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.hot-list .hot-list_top span:first-child {
  float: left;
  padding-left: 0.22rem;
  background: url('../images/icon-tit-tbiao@2x.png') no-repeat;
  background-size: 0.06rem 0.3rem;
}
.hot-list .hot-list_top span:last-child {
  float: right;
  font-size: 0.18rem;
  color: #333333;
}
.hot-list div:nth-of-type(2) {
  width: 6.34rem;
  height: 1.91rem;
  background: url('../images/图层17.png') no-repeat center center;
  background-size: 6.34rem 1.91rem;
  position: relative;
}
.hot-list div:nth-of-type(2) span {
  display: inline-block;
  width: 1.2rem;
  height: 0.42rem;
  background: url('../images/sports_zbz_button@2x.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.1rem;
  bottom: 0.45rem;
}
.hot-list div:nth-of-type(3) {
  width: 6.34rem;
  height: 1.62rem;
  background: url('../images/图层26.png') no-repeat left center;
  background-size: 1.38rem 1.47rem;
  position: relative;
}
.hot-list div:nth-of-type(3) span:nth-of-type(1) {
  display: inline-block;
  height: 0.8rem;
  color: #999;
  border-right: 0.01rem solid #999;
  padding-top: 0.2rem;
  padding-right: 0.1rem;
  position: absolute;
  right: 1.4rem;
  bottom: 0.45rem;
}
.hot-list div:nth-of-type(3) span:nth-of-type(2) {
  display: inline-block;
  width: 1.2rem;
  height: 0.42rem;
  background: url('../images/sports_yuyue@2x.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.1rem;
  bottom: 0.6rem;
}
.cold {
  margin-bottom: 0.5rem;
}
.cold .cold_top {
  height: 0.45rem;
  padding: 0 0.27rem 0 0.16rem;
  margin-bottom: 0.13rem;
  border-bottom: 0.01rem solid #ccc;
  overflow: hidden;
}
.cold .cold_top span {
  display: inline-block;
  font-size: 0.24rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.cold .cold_top span:first-child {
  float: left;
  padding-left: 0.22rem;
  background: url('../images/icon-tit-tbiao@2x.png') no-repeat;
  background-size: 0.06rem 0.3rem;
}
.cold .cold_top span:last-child {
  float: right;
  font-size: 0.18rem;
  color: #333333;
}
.cold .cold_bottom {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cold .cold_bottom > div {
  width: 2.98rem;
  height: 2.4rem;
  margin-top: 0.3rem;
  position: relative;
}
.cold .cold_bottom > div span {
  display: inline-block;
  width: 2.98rem;
  font-size: 0.18rem;
  position: absolute;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cold .cold_bottom > div:nth-of-type(1) {
  width: 6.1rem;
  height: 3.35rem;
  background: url('../images/图层33.png') no-repeat;
  background-size: 100% 3.05rem;
  position: relative;
  margin-top: 0;
}
.cold .cold_bottom > div:nth-of-type(1) span {
  display: inline-block;
  width: 100%;
  font-size: 0.19rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.cold .cold_bottom > div:nth-of-type(2) {
  background: url('../images/图层37.png') no-repeat;
  background-size: 2.98rem 1.89rem;
}
.cold .cold_bottom > div:nth-of-type(3) {
  background: url('../images/图层38.png') no-repeat;
  background-size: 2.98rem 1.89rem;
}
.cold .cold_bottom > div:nth-of-type(4) {
  background: url('../images/图层23.png') no-repeat;
  background-size: 2.98rem 1.89rem;
}
.cold .cold_bottom > div:nth-of-type(5) {
  background: url('../images/图层24.png') no-repeat;
  background-size: 2.98rem 1.89rem;
}
.NBA {
  margin-bottom: 0.86rem;
}
.NBA .NBA_top {
  height: 0.45rem;
  padding: 0 0.27rem 0 0.16rem;
  margin-bottom: 0.13rem;
  border-bottom: 0.01rem solid #ccc;
  overflow: hidden;
}
.NBA .NBA_top span {
  display: inline-block;
  font-size: 0.24rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.NBA .NBA_top span:first-child {
  float: left;
  padding-left: 0.22rem;
  background: url('../images/icon-tit-tbiao@2x.png') no-repeat;
  background-size: 0.06rem 0.3rem;
}
.NBA .NBA_top span:last-child {
  float: right;
  font-size: 0.18rem;
  color: #333333;
}
.NBA .NBA_bottom {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.NBA .NBA_bottom > div {
  width: 2.98rem;
  height: 2.4rem;
  margin-top: 0.3rem;
  position: relative;
}
.NBA .NBA_bottom > div span {
  display: inline-block;
  width: 2.98rem;
  font-size: 0.18rem;
  position: absolute;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.NBA .NBA_bottom > div:nth-of-type(1) {
  width: 6.1rem;
  height: 3.35rem;
  background: url('../images/图层33.png') no-repeat;
  background-size: 100% 3.05rem;
  position: relative;
  margin-top: 0;
}
.NBA .NBA_bottom > div:nth-of-type(1) span {
  display: inline-block;
  width: 100%;
  font-size: 0.19rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.NBA .NBA_bottom > div:nth-of-type(2) {
  background: url('../images/图层37.png') no-repeat;
  background-size: 2.98rem 1.89rem;
}
.NBA .NBA_bottom > div:nth-of-type(3) {
  background: url('../images/图层38.png') no-repeat;
  background-size: 2.98rem 1.89rem;
}
.NBA .NBA_bottom > div:nth-of-type(4) {
  background: url('../images/图层23.png') no-repeat;
  background-size: 2.98rem 1.89rem;
}
.NBA .NBA_bottom > div:nth-of-type(5) {
  background: url('../images/图层24.png') no-repeat;
  background-size: 2.98rem 1.89rem;
}
